/* w-[100vw] lg:w-[50vw] h-[80vh] lg:w-[30rem] z-40  rounded-xl absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 */

#settingsMenu {
    width: 50vw;
    height: 30rem;
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
    z-index: 10;
}

#settings-tab-container {
    border-right: 0.25px solid #F1E9DA;
}

#selected-tab-container {
    padding: 3rem;
    width: 90%;

}


@media screen and (max-width: 768px) {
    
    #settingsMenu {
        width: 100vw;
        height: 100vh;
        bottom: 0%;
    }

    #settings-tab-container {
        border-right: none;
        display: flex;
        justify-content: center; 
        width: 100%;
    }
}